.business-header {
    height: 50vh;
    min-height: 300px;
    background: url('../../images/home2.jpg') center center no-repeat scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }